// Definición de variables
$ancho-sidebar: 250px;
$alto-sidebar: 120vh;
$color-fondo-sidebar: #003366;
$color-texto-sidebar: white;
$padding-general: 20px;
$color-fondo-items: #0055A4;
$margin-bottom-items: 10px;
$padding-items: 10px;

// Nuevas variables con operaciones
$padding-sidebar: $padding-general / 2;
$color-fondo-sidebar-claro: lighten($color-fondo-sidebar, 5%);
$color-fondo-items-oscuro: darken($color-fondo-items, 5%);

// Mixins
@mixin estilo-texto($color) {
  color: $color;
  text-align: center;
}

@mixin layout-sidebar($ancho, $alto, $padding) {
  width: $ancho;
  height: $alto;
  padding: $padding;
}

body {
    display: flex;
}

.sidebar {
    @include layout-sidebar($ancho-sidebar, $alto-sidebar, $padding-sidebar); // Usar mixin para layout
    background-color: $color-fondo-sidebar-claro;

    h3 {
        @include estilo-texto($color-texto-sidebar); // Usar mixin para estilo de texto
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            @extend %item-estilo;
            background-color: $color-fondo-items-oscuro;
        }

        li a {
            @include estilo-texto($color-texto-sidebar); // Reutilizar mixin para enlaces
        }
    }
}

%item-estilo { // Placeholder para estilo común
    padding: $padding-items;
    margin-bottom: $margin-bottom-items;
    text-align: center;
}

.content {
    flex-grow: 1;
    padding: $padding-general;
}

.logo {
    margin-left: 35%;
}
.video-responsive {
    padding-bottom: 56.25%; /* Ratio de aspecto 16:9 */
    position: relative; 
    height: 0;
    margin-left: 250px; 
    margin-top: 30px;
}

.descripcion-banco {
    position: absolute; 
    top: 56.25%; 
    left: 250px; 
    right: 250px; 
    padding: 15px; 
    background-color: #f5f5f5; 
    border-radius: 5px;  
    width: auto; 
    margin-left: 125px;
    box-sizing: border-box; 
}

.descripcion-banco h4,
.descripcion-banco p {
    text-align: center; 
}



